@{
    ViewData["Title"] = "Inicio";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lora:wght@500&family=Noto+Serif&family=PT+Sans+Narrow:wght@700&family=Quicksand:wght@500&display=swap">
</head>


<img src="https://i.gifer.com/7rN7.gif" style="float:left;" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="font-size:70px;color:dimgrey;text-align:center;">Rastreador de vehículos</h1>
<div class="col-auto text-center">
    <a asp-controller="Vehiculos" asp-action="Create" class="btn btn-lg active" role="button" aria-pressed="true" style="text-align: center; background-color: #C9CDB7 ">Nuevo vehículo</a>
</div> 

